/* aparência visual */

body {
  font-family: Arial, sans-serif;
  background-color: slategrey;
  margin: 10px;
}

header {
  background-color: #1f2937;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom:20px;
  text-align: center;
  border-radius: 8px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 5px;
  margin: o 15px;
  padding: 3px 10px;
}

nav a:hover {
  background-color: gray;
  color: #1f2937;
}

main {
  margin: 30px auto;
  max-width: 900px;
}

section {
  background-color: azure;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.cards-container {
  display: flex; /* coloca os cards lado a lado */
  gap: 15px;
}

.card {
  background-color: rgba(240, 255, 255, 0.792);
  padding: 15px;
  border-radius: 8px;
  border: 2px solid #1f2937;
  box-shadow: 3px 5px 5px;
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group,
.form-row > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-group input,
.form-row input,
.form-row select {
  flex: 1;
}

input, select {
  padding: 3px;
  border: 1px solid #1f2937;
  border-radius: 6px;
}

button {
  background-color: #1f2937;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: gray;
  color: #1f2937;
}